<div class="row">
    <div id="next-call-container" class="col-sm-3">
        <h2>Next call</h2>

        <p> Name Phone time </p>
    </div>
    <div class="col-sm-9">
        <div id="add-call-container">
            <h2>Add call</h2>

            <form class="form-inline">
                <div class="form-group col-sm-3 has-success">
                    <label class="sr-only" for="name">Name</label>
                    <input class="form-control" type="text" id="name" placeholder="Name">
                </div>
                <div class="form-group col-sm-3 has-success">
                    <label class="sr-only" for="phoneNumber">Phone Number</label>
                    <input class="form-control" type="tel" id="phoneNumber" placeholder="Phone Number">
                </div>
                <div class="form-group col-sm-3 has-error">
                    <label class="sr-only" for="time">Time</label>
                    <input class="form-control has-error" type="time" id="time" placeholder="Time">

                    <p>Incorrect format!</p>
                </div>
                <button type="submit" class="btn btn-default col-sm-1 col-md-offset-2"><i
                        class="glyphicon glyphicon-plus"></i></button>
            </form>
        </div>
        <div id="calls-list-container">
            <h2>Calls list</h2>

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th> <a ><i class="glyphicon glyphicon-chevron-down"></i></a>Name</th>
                    <th>Phone</th>
                    <th><a ><i class="glyphicon glyphicon-chevron-up"></i></a>Time</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Test name</td>
                    <td>00-26-26-26</td>
                    <td>13:46</td>
                    <td>Delete</td>
                    <td><input type="checkbox"/></td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
            <button class="btn btn-default" type="submit">All</button>
            <button class="btn btn-default" type="submit">Next</button>
            <button class="btn btn-default" type="submit">Finished</button>
            </div>
        </div>
    </div>

</div>
